html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #333333;
    margin: 0;
    padding: 0;
    color: #F5F5DC;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;

    /*
    encountering issue with footer not sticking to the nbottom of the viewport - remember to document
    solution when resolved

    note: resolved by setting position:absolute; and bottom:0;
    */
}

.info_list{
overflow-y: scroll;
max-height: 235px;
list-style: none;
margin: 0;
padding:0;
}

ul{
    width: 100%;
    text-align: left;
    display: block;
}

li::marker{
    content: "";
}

header {
    background-color: #800020;
    padding: 20px 0;
    text-align: center;
    color: #F5F5DC;

}

h1 {
    margin: 0;
    font-size: 2em;
}
h2{
    text-align: center;
}

main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.page_box {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    display: block;
    text-align: center;
}
.welcome_msg{
    text-align: center;
}

.query_inputs {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    display: block;
}

.boxcontent_form{
    display: none;
    align-self: center;
}

.tabcontent_pword,
.tabcontent_gen,
.tabcontent_about,
.tabcontent_login{ /*this is to hide the other pages by default so that they dont laod straight to the page */
    display: none;
}

.site_box,
.username_box,
.password_box {
    margin-bottom: 20px;
}

.user_login{
    text-align: left;
}

.lgn_usr,
.lgn_pwd{
    width:90%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #F5F5DC;
}

input {
    width: 95%;
    padding: 10px ;
    font-size: 1em;
    color: #333;
    background-color: #F5F5DC;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #800020;
    outline: none;
}

footer {
    background-color: #800020;
    color: #F5F5DC;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;

}

.navbar {
    background-color: rgb(97, 0, 24); 
    width: 100%;
    padding: 8px 0; 
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    overflow: hidden;
    background-color: #610018;
    height: 50px;
  }
  
.tab button {
    background-color: #800020;
    color: #f5f5dc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 58px;
}
button#login_btn{
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}
  
.tab button:hover {
    background-color: #610018;
}

/* button styling for the bottom of the input box, makign them rounded and matchimg the colour scheme of the site*/
.button_boxes{
    margin-left: 60px;
    margin-right: 70px;
}
.function_button{
    background-color: #F5F5DC;
    padding :15px;
    border-radius: 10px;
}

span:hover{
    text-decoration: underline;
}
